body {
  background: #202123;
  font-family: Arial;
  margin: 0;
}

.chat-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #10a37f;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

#chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.user-message,
.bot-message {
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
}

.user-message {
  background: #10a37f;
  color: white;
  text-align: right;
}

.bot-message {
  background: #444654;
  color: white;
}

.input-area {
  display: flex;
  padding: 15px;
  background: #343541;
}

input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 12px 20px;
  background: #10a37f;
  color: white;
  border: none;
  border-radius: 5px;
}
